Repository fusionlaboratories/fusionchain, changes with the labels that .github/labeler.yml gives for each.
All labels: blockchain, treasury, identity, blackbird, qassets, test, contracts, docs, go-client, mokr, offchain, relayer-eth, web

chore: fix linter
  blockchain/x/treasury/types/wallet.go
  blockchain/x/treasury/types/wallet_ethereum.go
Labels: blockchain, treasury

Notes added by 'git notes add'
  9c7d607d178887042dd832e580bfa3999b76acb6
Labels: none

Notes added by 'git notes add'
  131aa2bfc5554b448466847b62bc2a7696994ef8
Labels: none

added genesis state to keyring test
  blockchain/x/identity/keeper/msg_server_add_keyring_party_test.go
  blockchain/x/treasury/keeper/msg_server_new_signature_request_test.go
Labels: blockchain, treasury, identity, test

added/improved keyring tests
  blockchain/x/identity/keeper/msg_server_add_keyring_party_test.go
  blockchain/x/identity/keeper/msg_server_add_workspace_owner_test.go
  blockchain/x/identity/keeper/msg_server_update_keyring_test.go
  blockchain/x/identity/keeper/query_keyring_by_address_test.go
Labels: blockchain, identity, test

added keyring documentation
  GUIDE.md
  README.md
  SETUP.md
  keyring/README.md
Labels: none

fixed small typos
  keyring/README.md
Labels: none

added test for key request
  blockchain/x/identity/keeper/workspace.go
  blockchain/x/treasury/keeper/msg_server_new_key_request_test.go
Labels: blockchain, treasury, identity, test

test(blockchain): refactor testutil to initialize all keepers at once in a single context
  blockchain/testutil/keeper/identity.go
  blockchain/testutil/keeper/keeper.go
  blockchain/testutil/keeper/policy.go
  blockchain/testutil/keeper/qassets.go
  blockchain/testutil/keeper/treasury.go
  blockchain/x/identity/keeper/msg_server_add_keyring_party_test.go
  blockchain/x/identity/keeper/msg_server_add_workspace_owner_test.go
  blockchain/x/identity/keeper/msg_server_new_keyring_test.go
  blockchain/x/identity/keeper/msg_server_new_workspace_test.go
  blockchain/x/identity/keeper/msg_server_test.go
  blockchain/x/identity/keeper/msg_server_update_keyring_test.go
  blockchain/x/identity/keeper/params_test.go
  blockchain/x/identity/keeper/query_keyring_by_address_test.go
  blockchain/x/identity/keeper/query_keyrings_test.go
  blockchain/x/identity/keeper/query_params_test.go
  blockchain/x/identity/keeper/query_workspace_by_address_test.go
  blockchain/x/identity/keeper/query_workspaces_by_owner_test.go
  blockchain/x/identity/keeper/query_workspaces_test.go
  blockchain/x/identity/keeper/workspace.go
Labels: blockchain, identity, test

fixed treasury, qassets, policy builds
  blockchain/x/identity/genesis_test.go
  blockchain/x/policy/genesis_test.go
  blockchain/x/policy/keeper/actions.go
  blockchain/x/policy/keeper/msg_server_test.go
  blockchain/x/policy/keeper/params_test.go
  blockchain/x/policy/keeper/query_params_test.go
  blockchain/x/qassets/genesis_test.go
  blockchain/x/qassets/keeper/grpc_query_params_test.go
  blockchain/x/qassets/keeper/msg_server_test.go
  blockchain/x/qassets/keeper/params_test.go
  blockchain/x/treasury/genesis_test.go
  blockchain/x/treasury/keeper/msg_server_new_key_request_test.go
  blockchain/x/treasury/keeper/msg_server_test.go
  blockchain/x/treasury/keeper/params_test.go
  blockchain/x/treasury/keeper/query_params_test.go
Labels: blockchain, treasury, identity, qassets, test

fix(blockchain/treasury): avoid bank transfer to keyring if fees are set to 0
  blockchain/x/treasury/keeper/msg_server_new_key_request.go
  blockchain/x/treasury/keeper/msg_server_new_signature_request.go
Labels: blockchain, treasury

Skeleton
  blockchain/policy/policy.go
  blockchain/policy/policy_test.go
  blockchain/policy/types.go
  blockchain/x/policy/keeper/actions.go
  blockchain/x/policy/types/policy.go
  blockchain/x/policy/types/policy_test.go
  go.mod
Labels: blockchain, test

fixed test
  blockchain/x/treasury/keeper/msg_server_new_key_request_test.go
Labels: blockchain, treasury, test

add PolicyData to Action
  blockchain/policy/policy.go
  blockchain/policy/policy_test.go
  blockchain/policy/types.go
  blockchain/proto/fusionchain/policy/action.proto
  blockchain/x/identity/keeper/msg_server_add_workspace_owner.go
  blockchain/x/identity/keeper/msg_server_append_child_workspace.go
  blockchain/x/identity/keeper/msg_server_new_child_workspace.go
  blockchain/x/identity/keeper/msg_server_remove_workspace_owner.go
  blockchain/x/identity/keeper/msg_server_update_workspace.go
  blockchain/x/policy/keeper/actions.go
  blockchain/x/policy/types/action.go
  blockchain/x/policy/types/action.pb.go
  blockchain/x/policy/types/policy.go
  blockchain/x/policy/types/policy_test.go
  blockchain/x/treasury/keeper/msg_server_new_key_request.go
  blockchain/x/treasury/keeper/msg_server_new_sign_transaction_request.go
  blockchain/x/treasury/keeper/msg_server_new_signature_request.go
Labels: blockchain, treasury, identity, test

chore: Fix linter warning
  blockchain/x/policy/types/policy.go
Labels: blockchain

Notes added by 'git notes add'
  eeb7837e9bd1c4b28a7f5ca650b809af24ceb1f0
Labels: none

Notes added by 'git notes add'
  85c3d717d35db3fbb9a547166d83e0c86f09883d
Labels: none

fix(blockchain): mapToDeterministicSlice
  blockchain/x/policy/keeper/actions.go
Labels: blockchain

space
  blockchain/x/policy/keeper/actions.go
Labels: blockchain

rank by key
  blockchain/x/policy/keeper/actions.go
Labels: blockchain

Notes added by 'git notes add'
  36d42fe6e26d35c98e5beffd5bfe2879f78c66e4
Labels: none

chore(blockchain): remove println
  blockchain/x/policy/types/policy.go
Labels: blockchain

bump keyring go-ethereum to v1.13.10
  keyring/go.mod
  keyring/go.sum
Labels: none

bump relayer-eth and mokr go-ethereum to v1.13.10
  mokr/go.mod
  mokr/go.sum
  relayer-eth/go.mod
  relayer-eth/go.sum
Labels: mokr, relayer-eth

chore(blockchain): bump geth and cosmos version
  blockchain/go.mod
  blockchain/go.sum
Labels: blockchain

add qredochain url
  bridge/service/config.go
Labels: none

initial commit
  bridge/cmd/qrdo-bridge/main.go
  bridge/go.mod
  bridge/service/builder.go
  bridge/service/config.go
  fusionmodel/go.mod
  fusionmodel/go.sum
Labels: none

fet(bridge): brdge from qredochain to fusion
  bridge/bridge.go
  bridge/builder.go
  bridge/cmd/qrdo-bridge/config.yml
  bridge/cmd/qrdo-bridge/main.go
  bridge/config.go
  bridge/faucet.go
  bridge/go.mod
  bridge/go.sum
  bridge/retriever.go
  bridge/service/builder.go
Labels: none

added workspace tests
  blockchain/x/identity/keeper/msg_server_add_workspace_owner.go
  blockchain/x/identity/keeper/msg_server_append_child_workspace.go
  blockchain/x/identity/keeper/msg_server_append_child_workspace_test.go
  blockchain/x/identity/keeper/msg_server_new_child_workspace.go
  blockchain/x/identity/keeper/msg_server_new_child_workspace_test.go
  blockchain/x/identity/keeper/msg_server_remove_workspace_owner.go
  blockchain/x/identity/keeper/msg_server_remove_workspace_owner_test.go
  blockchain/x/identity/keeper/msg_server_update_workspace.go
  blockchain/x/identity/keeper/msg_server_update_workspace_test.go
  blockchain/x/identity/types/workspace.go
  blockchain/x/policy/keeper/actions.go
Labels: blockchain, identity, test

new tests for addWorkspaceOwner and appendChildWorkspace
  blockchain/x/identity/types/message_add_keyring_party.go
  blockchain/x/identity/types/message_add_workspace_owner.go
  blockchain/x/identity/types/message_add_workspace_owner_test.go
  blockchain/x/identity/types/message_append_child_workspace_test.go
  blockchain/x/identity/types/workspace.go
Labels: blockchain, identity, test

.github/labeler.yml:

blockchain:
  - blockchain/**

treasury:
  - blockchain/x/treasury/**
  - blockchain/proto/fusionchain/treasury/**

identity:
  - blockchain/x/identity/**
  - blockchain/proto/fusionchain/identity/**

blackbird:
  - blockchain/x/blackbird/**
  - blockchain/proto/fusionchain/blackbird/**

qassets:
  - blockchain/x/qassets/**
  - blockchain/proto/fusionchain/qassets/**

test:
  - '**/*_test.go'

contracts:
  - contracts/**

docs:
  - docs/**

go-client:
  - go-client/**

mokr:
  - mokr/**

offchain:
  - offchain/**

relayer-eth:
  - relayer-eth/**

web:
  - web/**
