Repository fusionlaboratories/fusionchain, changes with the labels that .github/labeler.yml gives for each.
All labels: blockchain, treasury, identity, blackbird, qassets, test, contracts, docs, go-client, mokr, offchain, relayer-eth, web

feat(web): revamp asynchronous tasks ui
  web/src/client/treasury.ts
  web/src/components/keys.tsx
  web/src/components/sign-transaction-request-dialog.tsx
  web/src/components/signature-request-dialog.tsx
  web/src/components/tx_details.tsx
  web/src/components/ui/breadcrumb.tsx
  web/src/components/ui/button.tsx
  web/src/components/ui/check.tsx
  web/src/components/ui/progress-step.tsx
  web/src/components/ui/spinner.tsx
  web/src/hooks/useRequestSignature.ts
  web/src/hooks/useRequestTransactionSignature.tsx
  web/src/main.tsx
  web/src/routes/ethereum.tsx
  web/src/routes/key.tsx
  web/src/routes/keyring.tsx
  web/src/routes/wallet.tsx
  web/src/routes/wallet_connect.tsx
  web/src/routes/workspace.tsx
Labels: web

feat(web): add progress bar on new key requests
  web/package.json
  web/pnpm-lock.yaml
  web/src/client/treasury.ts
  web/src/components/ui/alert-dialog.tsx
  web/src/components/ui/progress.tsx
  web/src/routes/workspace.tsx
Labels: web

feat(web): dim blocks with 0 txs in explorer tab
  web/src/components/explorer.tsx
Labels: web

feat: add blockchain bootstrap script
  .gitignore
  blockchain/scripts/bootstrap/main.sh
Labels: blockchain

feat(blockchain): add parameter to set the amount of coins to bond
  blockchain/scripts/bootstrap/main.sh
Labels: blockchain

Notes added by 'git notes add'
  291b4a8f1f503a3aac64a8895b0fee37ed558754
Labels: none

fix(blockchain): use test keyring backend in bootstrap script
  blockchain/scripts/bootstrap/main.sh
Labels: blockchain

fix(blockchain): add dockerfile-fusiond back
  .github/workflows/build_ecr.yml
  docker/Dockerfile-fusiond
Labels: none

Notes added by 'git notes add'
  b88aea3e84a4ccb669ceeb87ea2a3503fc4d3daa
Labels: none

build: fix commit hash missing in binary version
  .dockerignore
  docker/Dockerfile-fusion-stack
Labels: none

fix(ci): Use Makefile for fusiond instead of go build
  .dockerignore
  blockchain/Makefile
  docker/Dockerfile-fusion-web
  docker/Dockerfile-fusiond
  docker/Dockerfile-relayer-eth
Labels: blockchain

Notes added by 'git notes add'
  db61181bf241f18afcadb3e4f5b487ef537f5b9d
Labels: none

use sermver
  blockchain/version/version.go
Labels: blockchain

initial commit
  blockchain/cmd/fusiond/root.go
  blockchain/version/version.go
Labels: blockchain

add to docker build
  blockchain/version/version.go
  docker/Dockerfile-fusiond
  docker/docker-build-fusiond.sh
Labels: blockchain

use linkedSemVer
  blockchain/Makefile
  blockchain/version/version.go
Labels: blockchain

fix fusiond info
  blockchain/Makefile
Labels: blockchain

Notes added by 'git notes add'
  60d181a37dca48645ac79dd7ed62439829961539
Labels: none

added/improved keyring tests
  blockchain/x/identity/keeper/msg_server_add_keyring_party.go
  blockchain/x/identity/keeper/msg_server_add_keyring_party_test.go
  blockchain/x/identity/keeper/msg_server_add_workspace_owner_test.go
  blockchain/x/identity/keeper/msg_server_update_keyring.go
  blockchain/x/identity/keeper/query_keyring_by_address_test.go
  blockchain/x/identity/keeper/query_keyrings_test.go
  blockchain/x/identity/keeper/query_workspaces_test.go
  blockchain/x/identity/types/keyring.go
  blockchain/x/identity/types/keyring_test.go
  blockchain/x/identity/types/message_update_keyring_test.go
  blockchain/x/treasury/keeper/msg_server_new_signature_request_test.go
Labels: blockchain, treasury, identity, test

initial commit
  blockchain/version/version.go
Labels: blockchain

use sermver
  blockchain/version/version.go
Labels: blockchain

add to docker build
  blockchain/version/version.go
Labels: blockchain

use linkedSemVer
  blockchain/Makefile
  blockchain/version/version.go
Labels: blockchain

feat(web): allow environment variables at runtime
  docker/Dockerfile-fusion-web
  docker/docker-build-fusion-web.sh
  docker/web/entrypoint.sh
  docker/web/nginx.conf
  web/package.json
Labels: web

fix fusiond info
  blockchain/Makefile
Labels: blockchain

Notes added by 'git notes add'
  cab6902cadf02f801e1514525399d5fd8db35ed9
Labels: none

Notes added by 'git notes add'
  aa160b88f65da23aa18a5d3dfc09530ab53897af
Labels: none

Notes added by 'git notes add'
  9e3b175ae4b0e37ff7b1e3b49d086242d1ac9420
Labels: none

Notes added by 'git notes add'
  873db233e579ffdeaa5a70b6f4c3725787ab57db
Labels: none

build(web): allow to configure chain id and name via env vars
  docker/Dockerfile-fusion-stack
  docker/Dockerfile-web
  docker/web/entrypoint.sh
  web/src/keplr.ts
Labels: web

build(web): include chain details in Dockerfile and entrypoint
  docker/Dockerfile-web
  docker/web/entrypoint.sh
Labels: none

build(web): undo duplicated env vars in entrypoint.sh
  docker/Dockerfile-fusion-stack
  docker/web/entrypoint.sh
Labels: none

build(web): remove unneeded env vars in Dockerfile
  docker/Dockerfile-web
Labels: none

Notes added by 'git notes add'
  bc2739433a2050cf747007af2f4cafda9152d2c0
Labels: none

fix(web): fix env variables placeholders
  docker/Dockerfile-web
Labels: none

Notes added by 'git notes add'
  b315f71f2de4f746a687e973390a2c8134a4661a
Labels: none

chore(web): regen protobuf defs
  web/src/proto/fusionchain/treasury/tx_pb.ts
Labels: web

feat(blockchain/treasury): change type of SignTransactionRequest.Metadata into Any for better extensibility
  blockchain/proto/fusionchain/treasury/tx.proto
  blockchain/x/treasury/types/tx.pb.go
  web/src/proto/fusionchain/treasury/tx_pb.ts
Labels: blockchain, treasury, web

feat(blockchain/treasury): use updated Metadata field
  blockchain/x/treasury/client/cli/tx_new_sign_transaction_request.go
  blockchain/x/treasury/keeper/msg_server_new_sign_transaction_request.go
  blockchain/x/treasury/types/codec.go
  blockchain/x/treasury/types/message_new_sign_transaction_request.go
  blockchain/x/treasury/types/wallet.go
  blockchain/x/treasury/types/wallet_ethereum.go
Labels: blockchain, treasury

feat(web): add Metadata field to SignTransactionRequests
  web/src/hooks/useRequestTransactionSignature.tsx
  web/src/routes/ethereum.tsx
  web/src/routes/wallet_connect.tsx
  web/src/utils/any.ts
Labels: web

.github/labeler.yml:

blockchain:
  - blockchain/**

treasury:
  - blockchain/x/treasury/**
  - blockchain/proto/fusionchain/treasury/**

identity:
  - blockchain/x/identity/**
  - blockchain/proto/fusionchain/identity/**

blackbird:
  - blockchain/x/blackbird/**
  - blockchain/proto/fusionchain/blackbird/**

qassets:
  - blockchain/x/qassets/**
  - blockchain/proto/fusionchain/qassets/**

test:
  - '**/*_test.go'

contracts:
  - contracts/**

docs:
  - docs/**

go-client:
  - go-client/**

mokr:
  - mokr/**

offchain:
  - offchain/**

relayer-eth:
  - relayer-eth/**

web:
  - web/**
